.change-pass{

  background-color: white;
  width: 500px;
  height: 400px;
  margin-left: 450px;
  margin-top: 90px;
  border-width: 5px;
  border-color: rgb(167, 144, 144);
  border-style: solid;
  border-radius: 15px;

}

.changepass-input-style{

  margin-left: 20px;
  margin-top: 50px;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;

}

.changepass-input-container{
  margin-left: 70px;
  margin-top: 30px;
}

.forgetpass-input-style-button{

  width: 100px;
  border-radius: 15px;
  height: 40px;
  background-color: rgb(155, 55, 55);
  color: white;
  font-weight: bold;
  margin-left: 185px;
  margin-top: 80px;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  border-style: solid;

}