.forget-pass{

  background-color: white;
  width: 500px;
  height: 600px;
  margin-left: 450px;
  margin-top: 90px;
  border-width: 5px;
  border-color: rgb(167, 144, 144);
  border-style: solid;
  border-radius: 15px;

}

.forget-pass-logo{

  width: 150px;
  margin-left:180px;
  margin-top: 50px;
}

.forgetpass-input-style{

  margin-left: 20px;
  margin-top: 50px;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;

}

.input-container-ver{

  margin-left: 30px;
  margin-top: -10px;

}

.forgetpass-input-style-button{

  width: 100px;
  border-radius: 15px;
  height: 40px;
  background-color: rgb(155, 55, 55);
  color: white;
  font-weight: bold;
  margin-left: 185px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 10px;
  border-color: black;
  border-style: solid;

}

.forgetpass-input-style-button:hover{
  width: 150px;
  transition: 0.4s;
}


